/* for big header at top */
div.bigHeader {
div.margin {
    border-style: solid;
    margin: 0px 0px 80px 0px;
}

div.bigHeader h2 {
    color: mediumpurple;
}

/* for rest of text */
h2 {
    color: chartreuse;
    text-align: center;
}

p {
    margin: 10px 20px 35px 20px;
}

/* image styles */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}